<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://fyqy.github.io/fyqy.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>updateSwitch</key>
				<string>0</string>
				<key>bundle-identifier</key>
				<string>com.bber.bberss</string>
				<key>bundle-version</key>
				<string>2.4.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>PaPa</string>
				<key>CFBundleDisplayName</key>
				<string>PaPa</string>
				<key>update-content</key>
				<string>1、即将上线娱乐功能，充值就送免费点数； 2、优化支付系统；</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
